<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Current Weather</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Weather forecast for today</h2>

      <div class="location">
        <span>LOCATION</span>
        <div class="city">
          <h3 th:text="${currentWeather.city}">City</h3>
        </div>
      </div>

      <div class="main">
        <div class="forecast_block">
            <div class="img__weather">
               <img src="/images/weather.png" width="190px" height="190px" alt="">
            </div>
            

            <div class="right_block">

                <div class="day__temp">
                        <span>DAY</span>
                        <img class="daynight" src="/images/day.png" width="35px" height="35px" alt="">
                        <div class="temp__main">
                           
                            <p4 class="temp__number" th:text="${currentWeather.temperatureDay}"></p4><span class="celcium__icon">°</span>
                        </div>
                            
                        <h4>Description</h4>
                        <p4 th:text="${currentWeather.descriptionDay}"></p4>
                </div>

                <div class="night__temp">
                        <span>NIGHT</span>
                        <img class="daynight" src="/images/night.png" width="35px" height="35px" alt="">
                        <div class="temp__main">
                            <p4 class="temp__number" th:text="${currentWeather.temperatureNight}"></p4><span class="celcium__icon">°</span>
                        </div>
                        <h4>Description</h4>
                        <p4 th:text="${currentWeather.descriptionNight}"></p4>
                </div>

            </div>

        </div>
        

      </div>

      

     
    </div>
  </body>
</html>
